.container {
    display: flex;
    flex-direction: column;
}


.eventInp {
    transform: translateY(20%);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.noteHeader {
    font-size: 50px;
}