.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: fixed;
    width: 300px;
    height: 60px;
    bottom: 0px;
    padding-bottom: 10px;
    text-align: center;
    background: rgba(79,156,186,0.3);
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    transform: translate(0,-50%);
}

.nav ul {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

.icon {
    padding: 2px;
    font-size: 20px;
    transform: translate(-50%,15%);
    color: #808080;
}

.icon:active{
    color:black;
}